{{define "content"}}
<h1>Welcome to Learning to Go</h1>
<p>This website doesn't do much of anything, but you can <a href="/contact">contact me</a> or try these links:</p>
<h3>Tools</h3>
<ul>
    <li><a href="/tools/hammer">Hammer</a></li>
    <li><a href="/tools/saw">Saw</a></li>
    <li><a href="/tools/drill">Drill</a></li>
</ul>
<h3>Spells</h3>
<ul>
    <li><a href="/spells/expelliarmus">Disarming Spell</a></li>
    <li><a href="/spells/abracadabra">Appearing Spell</a></li>
    <li><a href="/spells/hadouken">Fireball Spell</a></li>
</ul>
{{end}}